@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorAppMainTop: 300deg 100% 90%;
  --colorAppMainBottom: 300deg 100% 10%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorAppMainTop: 300deg 100% 90%;
    --colorAppMainBottom: 300deg 100% 10%;
  }
}

* {
  /* text color */
  color: hsl(var(--colorAppMainTop));
  transition: color 0.3s ease;

  /* background color */
  background: hsl(var(--colorAppMainBottom));
  transition: background-color 0.3s ease;

  /* border color */
  border-color: hsl(var(--colorAppMainTop));
  transition: border-color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
