/* 
・なんかいらない背景色がつくので消したい
・デフォルトの.sb-show-mainの背景色のimportantを上回るように詳細度上げのための二重設定
*/
.sb-show-main.sb-show-main {
  background: transparent !important;
}

/*
・autodocsで作られたDocのstoryにもテーマをあてがう
・NOTE: globals.cssのテーマ周りの設定が変更されたらそのままコピペしてくること
*/
.docs-story.docs-story {
  /* text color */
  color: hsl(var(--colorAppMainTop));
  transition: color 0.3s ease;

  /* background color */
  background: hsl(var(--colorAppMainBottom));
  transition: background-color 0.3s ease;

  /* border color */
  border-color: hsl(var(--colorAppMainTop));
  transition: border-color 0.3s ease;
}
